@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i|Playfair+Display:400,400i,700,700i&display=swap");


/* Color guide
purple background: #C96FCF
outside outline (dark orange): #DD5F50
inside border (light orange): #F99E0F
post background (very light orange): #FFDFD1

Dark purple titles: #3B2745;
Very dark purple for main title & texts: #301F38;
Hoover on main title (light purple): #67327D;
Hoover on text links (dark orange): #DD5F50
 */

* {
  margin: 0;
}

/* Main container for everything */
.container {
  width: 100%;
  /* Main background color for the site */
  background: #C96FCF;
  display: grid;
  /* grid-template-rows: 1fr auto 1fr; */
  /*grid-template-rows: repeat(6, 1fr);*/
}

/* Header container */
.header {
  display: block;
  position: relative;
  height: 600px;
  /* change banner image url */
  background-image: url("images/banner.jpg");
  /* repeats image horizonally (-x) */
  background-repeat: repeat-x;
  /* background: url('images/banner.jpg') 50% 0 repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
  /* background-size: cover; */
}

.main_title {
  display: block;
  position: absolute;
  top: 25%;
  left: 16%;
  color: #301F38;
  text-decoration: none;
    font-size: 90px;
    font-family: "Playfair Display", serif;
  opacity: 0.95;
}
.main_title:hover {
  color: #67327D;
}

/* Barre de menu */
.header ul {
  position: relative;
  top: 55%;
  left: 10%;
  padding: 0;
  list-style: none;
  display: table;
  width: 80%;
  text-align: center;
  background-color: #FFDFD1;
  border-radius: 50px;
  z-index: 3;
  opacity: 0.9;
}
/* Item in the menu */
.header li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 22px;
}
/* Item in the menu */
.lia {
  color: rgb(22, 30, 95);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
}
.header ul:hover {
  transition: 0.3s ease;
}
.lia:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: rgb(22, 30, 95);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.lia:hover:after {
  width: 100%;
  left: 0;
}

/* Menu dropdown */
/* .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: #FFDFD1;
  min-width: 100%;
}
.dropdown-child a {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  color: rgb(22, 30, 95);
  padding: 10px;
  text-decoration: none;
  display: block;
}*/
/* Makes the submenu appear */
/*.dropdown:hover .dropdown-child {
display: block;
}
.kid:hover {
  color: #DD5F50;
} */

h2 {
  font-size: 55px;
  font-family: "Playfair Display", serif;
  color: #3B2745;
}

h3 {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  color: #3B2745;
  margin-bottom: 15px;
  margin-top: 25px;
}

h4 {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: #3B2745;
  margin-bottom: 15px;
  margin-top: 25px;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #301F38;
  margin-top: 15px;
}

blockquote {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #301F38;
  margin-top: 15px;
  font-style: italic;
  padding-left: 50px;
}

strong {
  font-weight: bold;
}

.right_post {
  /* Post background color */
  background: #FFDFD1;

  /* Inside border */
  border: 5px solid #F99E0F;
  border-radius: 170px 0px 170px;

  /* Outside border */
  outline: 5px solid #DD5F50;

  /* outside margins: top / left / bottom / right */
  margin: 2% 10% 2% 10%;

  /* inside padding, everywhere */
  padding: 5%;

  /* TODO: investigate */
  /* display: grid;
  grid-template-columns: auto 1fr; */
}

.right_inside {
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}

.left_post {
  /* Post background color */
  background: #FFDFD1;

  /* Inside border */
  border: 5px solid #F99E0F;
  border-radius:  0px 170px 0px;

  /* Outside border */
  outline: 5px solid #DD5F50;

  /* outside margins: top / left / bottom / right */
  margin: 2% 10% 2% 10%;

  /* inside padding: top / left / bottom / righ */
  padding: 4% 5% 5% 5%;

  /* TODO: investigate */
  /* display: grid;
  grid-template-columns: auto 1fr; */
}

.left_inside {
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
}

.list_block {
  padding: 1% 5% 0 5%;
}

/*Line padding*/
.list {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
  line-height: 30px;
}
.list a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
}
.list a:hover {
  color: #DD5F50;
}

/*No line padding*/
.list2 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
  line-height: 25px;
}
.list2 a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
}
.list2 a:hover {
  color: #DD5F50;
}

/*Padding between the items
Ideal for several lines per items*/
.list3 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
  line-height: 25px;
  margin-top: 10px;
}
.list3 a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
}
.list3 a:hover {
  color: #DD5F50;
}

.fic {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
  line-height: 30px;
  margin-bottom: 15px;
}
.fic a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #3B2745;
  font-weight: bold;
}
.fic a:hover {
  color: #DD5F50;
}

.date {
  padding-left: 10px;
  font-style: italic;
  font-size: 15px;
  color: #67327D;
}

.source {
  padding-top: 30px;
  padding-right: 10px;
  text-align: right;
  font-style: italic;
  font-size: 15px;
  color: #67327D;
}

a {
  color: #67327D;
}
a:hover {
  color: #DD5F50;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
